**/*.iml
**/.name
**/contentModel.xml
**/dataSources.ids
**/dataSources.local.xml
**/dataSources/
**/dictionaries
**/dynamic.xml
**/httpRequests/
**/modules.xml
**/shelf/*
**/sqlDataSources.xml
**/tasks.xml
**/workspace.xml
/contentModel.xml
/dataSources.local.xml
/dataSources/
/httpRequests/
/modules.xml
/projectSettingsUpdater.xml
/shelf/
/workspace.xml
